/* 오늘의 쇼핑 제안 */

* {
    margin: 0;
  }
  
  body {
    width: 100vw;
    height: 100vh;
  }
  
  .container {
    width: 100%;
    height: 100%;
    position: relative;
    top: 100px;
  }
  
  header {
    position: relative;
    width: 1022px;
    margin: 0 auto 48px;
  }
  
  header a {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  
  header img {
    width: 176px;
    height: 40px;
  }
  
  /* section */
  
  section h2 {
    position: relative;
    width: 1022px;
    margin: 0 auto 24px;
    display: flex;
    font-size: 24px;
    font-weight: 500;
    color: var(--color-black);
  }
  
  section h2 .titleImg {
    display: inline-block;
    background-image: url('../../assets/icon/shopping.svg');
    width: 30px;
    height: 30px;
  }
  
  /* article */
  
  article {
    position: relative;
    width: 1022px;
    top: 24px;
    margin: 0 auto;
    display: flex;
  }
  
  article .product {
    position: relative;
    width: 200px;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-left: 5px; */
  }
  
  article .product a {
    position: relative;
    width: 200px;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  article .product .discount {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 53px;
    height: 30px;
    z-index: 1;
    background-color: var(--color-red-500);
    color: var(--color-white);
    border-radius: 0px 0px 4px 0px;
    font-size: 16px;
    font-weight: 600;
  }
  
  article .product img {
    position: relative;
    margin: 0 auto;
    margin-bottom: 12px;
  }
  
  article p {
    color: var(--color-black);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 12px;
  }
  
  article .product .rocket-dilivery {
    display: block;
    margin-left: 18px;
  }
  
  article .product .free-dilivery {
    color: var(--color-gray-700);
    font-size: 14px;
    font-weight: 500;
    margin: 0 0 12px 19px;
  }
  
  article .product .rating-stars {
    background-image: url('../../assets/sprites/rating-stars.png');
    background-repeat: no-repeat;
    width: 68px;
    height: 12px;
    display: inline-block;
    margin-left: 19px;
  }
  
  article .product .star4 {
    background-position: 0 -112px;
  }
  
  article .product .star-between45 {
    background-position: 0 -126px;
  }
  
  article .product .star5 {
    background-position: 0 -140px;
  }
  
  article .product .review-count {
    position: absolute;
    top: 241px;
    left: 92px;
    color: var(--color-gray-700);
    font-size: 14px;
    font-weight: 400;
  }
